//цвета
$default: #425466;
$title: #313131;
$green: #0ac05e;

//расширения шрифтов
%pop-400 {
  font-family: "Poppins-Regular", sans-serif;
  font-weight: 400;
}
%pop-500 {
  font-family: "Poppins-Medium", sans-serif;
  font-weight: 500;
}
%pop-700 {
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
}
%pop-800 {
  font-family: "Poppins-SemiBold", sans-serif;
  font-weight: 800;
}
%int-700 {
  font-family: "Inter-bold", sans-serif;
  font-weight: 700;
}
%int-800 {
  font-family: "Inter-SemiBold", sans-serif;
  font-weight: 800;
}

//наследования
%main-width {
  max-width: 1770px;
  margin: 0 auto;
}

%check-none {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%display-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%title {
  @extend %pop-500;
  font-size: 40px;
  line-height: 48px;
  color: $title;
}
