<section class="brands">
  <div class="container">
    <ul class="brands__list">
      <li class="brands__item wow">
        <a class="brands__item-link" href="#">
          <img class="brands__item-img" src="images/logo/planday.svg" alt="brand icon">
        </a>
      </li>
      <li class="brands__item wow" data-wow-delay="0.1s">
        <a class="brands__item-link" href="#">
          <img class="brands__item-img" src="images/logo/umbraco.svg" alt="brand icon">
        </a>
      </li>
      <li class="brands__item wow" data-wow-delay="0.2s">
        <a class="brands__item-link" href="#">
          <img class="brands__item-img" src="images/logo/pearfisher.svg" alt="brand icon">
        </a>
      </li>
      <li class="brands__item wow" data-wow-delay="0.3s">
        <a class="brands__item-link" href="#">
          <img class="brands__item-img" src="images/logo/breaghtpear.svg" alt="brand icon">
        </a>
      </li>
      <li class="brands__item wow" data-wow-delay="0.4s">
        <a class="brands__item-link" href="#">
          <img class="brands__item-img" src="images/logo/planday.svg" alt="brand icon">
        </a>
      </li>
    </ul>
  </div>
</section>