<div class="navbar">
  <div class="container">
    <div class="navbar__inner">
      <img class="navbar__logo" src="images/logo/brand.io.svg" alt="logo image">
      <menu class="navbar__menu" id="menu">
        <ul class="navbar__menu-list">
          <li class="navbar__menu-item">
            <a class="navbar__menu-link" href="#top">
              Home
            </a>
          </li>
          <li class="navbar__menu-item">
            <a class="navbar__menu-link" href="#about">
              About
            </a>
          </li>
          <li class="navbar__menu-item">
            <a class="navbar__menu-link" href="#testimonials">
              Testimonials
            </a>
          </li>
          <li class="navbar__menu-item">
            <a class="navbar__menu-link" href="#contact">
              Contact
            </a>
          </li>
        </ul>
        <button class="burger-btn">
          <p>menu</p>
        </button>
      </menu>
      <a class="navbar__link" href="#">
        Login
      </a>
      <button class="btn navbar__btn">
        Sign up
      </button>
    </div>
  </div>
</div>