<section class="started">
  <h2 class="started__title">
    Ready to get started?
  </h2>
  <p class="started__text">
    Products on online services or over the Internet. Electronic commerce draws on technologies such as mobile commerce
    application
  </p>
  <form class="started__form" action="#">
    <input class="started__form-input" type="email" placeholder="Enter your email address">
    <button class="btn started__form-btn wow anim-left">
      Sign Up
    </button>
  </form>
</section>